@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";

@theme {
  /*  Primary (KEEP)  */
  --color-primary: #1b3820;
  --color-primary-md: #2c5438;
  --color-primary-lt: #3e7250;

  --color-secondary: #f1f5f9; /* light slate */
  --color-secondary-dk: #e2e8f0;
  --color-secondary-dd: #cbd5e1;

  /*  Accent (PREMIUM GOLD)  */
  --color-accent: #d4af37;
  --color-accent-lt: #e6c766;

  /*  Text (HIGH CONTRAST)  */
  --color-text: #0a0a0a;
  --color-muted: #525252;
  --color-faint: #a3a3a3;

  /* Fonts */
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@plugin "daisyui" {
  themes:
    nepalheme --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "nepalhemp";

  --color-primary: #1b3820;
  --color-primary-md: #2c5438;
  --color-primary-lt: #3e7250;

  --color-secondary: #f1f5f9; /* light slate */
  --color-secondary-dk: #e2e8f0;
  --color-secondary-dd: #cbd5e1;

  /*  Accent (PREMIUM GOLD)  */
  --color-accent: #d4af37;
  --color-accent-lt: #e6c766;
}
