@import "tailwindcss";

@theme {
  /*  Primary  */
  --color-primary: #1b3820;
  --color-primary-md: #2c5438;
  --color-primary-lt: #3e7250;

  /*  Secondary  */
  --color-secondary: #f4efe4;
  --color-secondary-dk: #eae2d3;
  --color-secondary-dd: #ddd4c0;

  /*  Accent */
  --color-accent: #c2882a;
  --color-accent-lt: #e0a84a;

  /*  Text */
  --color-text: #1a1712;
  --color-muted: #6b5f4c;
  --color-faint: #9c8e7b;

  /*  Fonts */
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

@plugin "daisyui" {
  themes:
    nepalheme --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "nepalheme";

  /* Core */
  --color-primary: #1b3820;
  --color-primary-content: #f4efe4;

  --color-secondary: #f4efe4;
  --color-secondary-content: #1a1712;

  --color-accent: #c2882a;
  --color-accent-content: #1a1712;

  --color-neutral: #1a1712;
  --color-base-100: #f4efe4;

  /* Semantic */
  --color-info: #3e7250;
  --color-success: #2c5438;
  --color-warning: #e0a84a;
  --color-error: #b91c1c;
}

/* 
    BASE STYLES */
/* @layer base {
  body {
    color: var(--color-text);
    font-family: var(--font-sans);
    background-color: var(--color-secondary);
  }
} */
